# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
vendor
resources/assets/config-local.json

!vendor/pods/*
codeship.aes
codeship_deploy_key
codeship_deploy_key.pub
codeship.env
.ssh
