// kernl
// wordpress generated classes
//
// styles for tribe events calendar

.alignleft,
img.alignleft {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
}

.alignright,
img.alignright {
  float: right;
  margin: 0.5rem 0 0.5rem 1rem;
}

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone,
img.alignnone {
  float: none;
  display: block;
  clear: both;
  margin: 0.5rem 0;
}
// kernl
// wordpress generated classes
//
// styles for tribe events calendar

.alignleft,
img.alignleft {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
}

.alignright,
img.alignright {
  float: right;
  margin: 0.5rem 0 0.5rem 1rem;
}

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone,
img.alignnone {
  float: none;
  display: block;
  clear: both;
  margin: 0.5rem 0;
}
